.profile.flex.items-center.p-3.mb-4
  .avatar.rounded-full.overflow-hidden.mr-3
    |  img<img width="56px" height="56px" src="https://scontent-ort2-1.cdninstagram.com/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=scontent-ort2-1.cdninstagram.com